
# win10
CHROMIUM_BINARY = "C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe"
CHROMEDRIVER_BINARY = "C:\\ProgramData\\chocolatey\\bin\\chromedriver.exe" # choco install chromedriver
CHROME_USER_DATA_DIR="C:\\Users\\austin\\AppData\\Local\\Google\\Chrome\\User Data\\Profile 1"

# macOS/Linux
# CHROMIUM_BINARY = "/Applications/Chromium.app/Contents/MacOS/Chromium"
# CHROMEDRIVER_BINARY = "/usr/local/bin/chromedriver"
# CHROME_USER_DATA_DIR="/Users/someuser/Library/Application Support/Google/Chrome/Profile 1"

TAMU_NETID = "PresidentYoung"
TAMU_PASSWORD = "hunter2"

TWILIO_ACCOUNT_SID = "asdfghjkl"
TWILIO_AUTH_TOKEN = "asdfghjkl"

TWILIO_PHONE_FROM = "+12810001111"
TWILIO_PHONE_TO = "+12810001111"